.courses_container {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    padding-top: 350px;
    flex-wrap: wrap;
}

.courses {
    padding: 5px 2.5%;
    margin-top: 10px;
    flex-basis: 25%;
    box-sizing: border-box;
}
